[requires]
python_version = '3.7'

[packages]
christina-004 = { path = '.', editable = true }

aiohttp = '*'
cachetools = '*'
gidgethub = '*'

# Hack to avoid installing idna-ssl on Python 3.7.
# https://github.com/pypa/pipenv/issues/2473
idna-ssl = { version = '*', python_version = "< '3.7'" }

[dev-packages]
invoke = '*'
pytest = '*'

[scripts]
christina = 'python -m christina'
